/*Definição das variaveis*/
:root {
    --darkBrown: #1b1212;
    --lightBrown: #C19A6B;

    --scrollbar: #483C32;

    --card-border-radius: 32px;

}

/*Afina a barra de navegação*/
::-webkit-scrollbar {
    width: 10px;
}

/*Muda a cor de fundo da barra de navegação*/
::-webkit-scrollbar-track {
    background: var(--darkBrown);
}

/*Muda a cor da barra de navegação*/
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
}


/*Definição geral da página*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: cursive;

}

/*Organização da lista que mantém o menu*/
ul {
    list-style: none;
}

li {
    float: left;
    margin: 0 10px 0 10px;

    font-size: 24px;
}

li:hover {
    font-size: 32px;
}

a {
    color: var(--lightBrown);
    text-decoration: none;
}

/*Organização das divs de todo o site*/
div {
    display: flex;
    justify-content: center;
    align-items: center;


}

div.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

div.grid-container-portifolio {
    display: grid;
    grid-template-columns: auto auto auto;
}

div.grid-item {
    flex-direction: column;

    height: fit-content;
    width: auto;
}

div.portifolio-item {
    padding: 5%;
    margin: 40px;
}

/*Definição dos diferentes tipos de paragráfos que o site pode conter*/
p {
    margin: 32px 128px 32px 128px;
    font-size: 24px;
    color: var(--darkBrown);

    text-align: justify;
}

p.title {
    font-style: italic;
    font-weight: bold;
    font-size: 64px;
}

p.mid-title {
    font-size: 32px;
}

p.light-text {
    color: var(--lightBrown);
}

/*Edição das imagens presentes no site*/
img.perfil {
    width: 300px;
    height: 400px;
    margin: 10% 50% 10% 0%;


    object-fit: cover;
    transform: perspective(256px) rotate3D(0, 1, 0, -10deg);
    border-radius: 10px;
    border: 2px solid var(--darkBrown);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

img.portifolio-img {
    width: 400px;
    height: 400px;

    object-fit: cover;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    border: 2px solid var(--lightBrown);
}

.header {
    background-color: var(--darkBrown);
    color: var(--lightBrown);
    height: 64px;
}

.section {
    background-color: var(--lightBrown);
    color: var(--darkBrown);
    height: fit-content;
    padding: 64px;
    /*Mudar para fit-content ao inserir os conteúdos necessarios*/
}

.section2 {
    flex-direction: column;
}

.portifolio {
    background-color: var(--darkBrown);
    color: var(--lightBrown);
}

.footer {
    background-color: var(--darkBrown);
    color: var(--lightBrown);
    height: 128px;
}


.card {
    flex-direction: column;

    background-color: var(--lightBrown);

    width: 400px;


    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px 0 rgba(193, 154, 107, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(193, 154, 107, 0.5);
}